
.all{
    background-color: black;
}
.all{
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a{
    
    color:white;
}
.pg2{
    background-color: black;
}
h1{
    color: aliceblue;
}
h2{
    color: blueviolet;
}
.logo{
    height: 100px;
    width: 100px;
}