
.all{
    background-color: black;
    text-align: center;
}
.all{
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a{
    
    color:white;
}
.pg2{
    background-color: black;
}
h1{
    color: aliceblue;
}
h2{
    color: blueviolet;
}
.logo{
    height: 100px;
    width: 100px;
}
.form{
    background-color: aliceblue;
    align-items: center;
}
.itens{
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}